html, body, #div_canvas, #cnv_editor {
        height: 100%;
        width: 100vw;
        cursor: default;
}
body {
    padding: 0;
    margin: 0;
}
     
.hidden {
    display: none;
}

.info {
    position: absolute;
    background-color: rgba(174, 255, 255, 0.6);
    padding: 2px 5px;
    border: 1px solid black;
}
.info-debug {
    left: 0px;
    top: 0px;
}
.info-mouse {
    right: 0px;
    top: 0px;
    text-align: right;
}
.info-img {
    left: 0px;
    bottom: 0px;
}
.info-help {
    right: 0px;
    bottom: 0px;
}
.info-tools {
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 0%);
    background-color: rgba(255, 254, 174, 0.5);
    padding: 5px 10px;
    margin-bottom: 5px;
    text-align: center;
    
    max-height: 100px;
    overflow-y: auto;
}
#divToolsDistance {
    text-align: left;
    float: left;
}

.help-table tr td:first-child {
    text-align: right;
}